body{
    background-color: black;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 20% 10% 20% 20% 10% 20%;
    grid-template-rows: 20% auto 20%;
}

.container > * {
    margin: 1%;
}

header {
    grid-row: 1;
    grid-column: 2/6;
    text-align: center;
    padding-bottom: 6%;
    border: rgb(8, 3, 255) solid 2px;
    border-radius: 5px;
}

#name {
    text-align: Center;
}

#body{
    grid-row: 2;
    grid-column: 2/4;
    border: yellow solid 6px;
    border-radius: 2%;
    width: 40%;
    height: 120%;
    margin-left: 20%;
    text-align: center;
    display: grid;
    grid-template-rows: 10% auto 30%;
    grid-template-columns: 100%;
    background-color: purple;
}

#pkmnname{
    grid-row: 1;
    grid-column: 1;
    text-align: left;
    margin-left: 3%;
    margin-top: 3%;
}

#image{
    grid-row: 2;
    grid-column: 1;
    text-align: center;
    border: gold solid 2px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: seagreen;
}

#about{
    grid-row: 3;
    grid-column: 1;
    text-align: center;
    margin: 3%;
    border: lightblue solid 2px;
    background-color: rgb(170, 18, 170);
}

#body2{
    grid-row: 2;
    grid-column: 4/6;
}

footer{
    grid-row: 5;
    grid-column: 2/6;
    padding: 1%;
    border: rgb(8, 3, 255) solid 2px;
    border-radius: 5px;
}